*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #d2d0d0;

}

.center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contenedor{
    width: 80vw;
    max-width: 600px;
    min-height: 500px;
    padding: 20px;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 30px;
}


.contenedor-interno{
    width: 80%;
}

#title{
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-family: 'Lobster', cursive;
}

#quote{
    font-size: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

#autor{
    font-size: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-family: 'Lobster', cursive;
}
